<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <% for(var i=0; i<data.length; i++) {%>
        <li><%= data[i].postTitle %></li>
        <li><%= data[i].postDetail %></li>
      <% } %>
      <a href="/blog/find/id/1001">link</a>
  </ul>
  </body>
</html>
